
@{
    ViewBag.Title = "CustomPriceRange";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="divMain" v-cloak>
    <div id="divEmptyTop" class="form-group"></div>
    <div id="divSearchBar" class="panel-group">
        <div class="form-horizontal">
            <div class="form-group col-sm-12">
                <div class="form-inline">
                    <label class="control-label col-sm-2">@BDMall.Resources.Label.PriceRange</label>
                    <div class="col-sm-6">
                        <input id="txtMinValue" type="number" class="form-control" v-model="condition.MinValue">
                        <label class="control-label">@BDMall.Resources.Label.HyphenWithBlank</label>
                        <input id="txtMaxValue" type="number" class="form-control" v-model="condition.MaxValue">
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="cboCurrency" class="control-label col-sm-2">@BDMall.Resources.Label.Currency</label>
                <div class="col-sm-6">
                    <select id="cboCurrency" class="form-control" v-model="condition.Currency"></select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="cboProdCat" class="control-label col-sm-2">@BDMall.Resources.Label.ProductCatalog</label>
                <div class="col-sm-6">
                    <select id="cboProdCat" class="form-control" v-model="condition.CatId"></select>
                </div>
                <div class="col-sm-2">
                    <input type="button" class="btn btn-default" value="@BDMall.Resources.Action.Search" v-on:click="searchCustomPrcRngLst" />
                </div>
            </div>
        </div>
    </div>
    <div id="divDataArea" class="tab-content">
        <div id="divSelfDefine" class="tab-pane fade in active">
            <div class="panel-body">
                <div id="divToolBar" class="btn-group">
                    <button id="btnAdd" type="button" class="btn btn-default" v-on:click="addCustomPrcRng">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@BDMall.Resources.Action.Add
                    </button>
                    <button id="btnModify" type="button" class="btn btn-default" v-on:click="modifyCustomPrcRng" v-bind:disabled="isModify">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>@BDMall.Resources.Action.Modify
                    </button>
                    <button id="btnDelete" type="button" class="btn btn-default" v-on:click="deleteCustomPrcRng" v-bind:disabled="isDelete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@BDMall.Resources.Action.Delete
                    </button>
                </div>
                <table id="tblCustomPrcRngLst" class="table table-condensed"></table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        layui.use(['miniTab'], function () {
            var layer = layui.layer,
                miniTab = layui.miniTab;
        });
        var mEditA = "Add";
        var mEditM = "Modify";
        var mEditR = "Readonly";
        var vm = new Vue({
            el: "#divMain",
            data: {

                condition: {
                    MinValue: "",
                    MaxValue: "",
                    Currency: "-1",
                    CatId: "-1"
                },
                isModify: true,
                isDelete: true
            },
            methods: {
                setToolbarBtnState: function () {
                    var objSelections = $("#tblCustomPrcRngLst").bootstrapTable("getSelections");
                    if (objSelections.length == 1) {
                        vm.isModify = false;
                    }
                    else {
                        vm.isModify = true;
                    }

                    if (objSelections.length >= 1) {
                        vm.isDelete = false;
                    }
                    else {
                        vm.isDelete = true;
                    }
                },
                searchCustomPrcRngLst: function () {
                    $("#tblCustomPrcRngLst").bootstrapTable("refresh", { url: "/adminapi/CustomPriceRng/GetCustomPrcRngLstByCond" });
                },
                addCustomPrcRng: function () {
                    var tabId = self.frameElement.parentElement.id;
                    miniTab.openNewTabByIframe({
                        href:"/Product/CustomPrcRngEdit/0/" + mEditA,
                        title:'@BDMall.Resources.Action.Add' + "-" + '@BDMall.Resources.Label.TabNameCustomPrcRng',
                        callback: vm.searchCustomPrcRngLst
                    });
                },
                modifyCustomPrcRng: function () {
                    var objSelections = $("#tblCustomPrcRngLst").bootstrapTable("getSelections");

                    var objCond = new Object();
                    objCond.Id = objSelections[0].Id;
                    objCond.EditType = mEditM;
                    var tabId = self.frameElement.parentElement.id;
                    miniTab.openNewTabByIframe({
                        href:"/Product/CustomPrcRngEdit/" + objCond.Id + "/" + objCond.EditType,
                        title:'@BDMall.Resources.Action.Modify' + "-" + objSelections[0].RangeDesc,
                        callback: vm.searchCustomPrcRngLst
                    });
                },
                deleteCustomPrcRng: function () {
                    var objSelections = $("#tblCustomPrcRngLst").bootstrapTable("getSelections");

                    if (objSelections.length > 0) {
                        SystemConfirm('@BDMall.Resources.Message.DeleteConfirm', function () {

                            var strId = "";
                            objSelections.forEach(function (val) {
                                strId += val.Id + ",";
                            });

                            var data = new Object();
                            data.recIdLst = strId;

                            WS.AjaxP("get", "/adminapi/CustomPriceRng/DeleteCustomPriceRange", data, function (response) {
                                if (response.Succeeded == true) {
                                    showInfo('@BDMall.Resources.Message.DeleteSucceeded');
                                    vm.searchCustomPrcRngLst();
                                }
                                else {
                                    showWarn('@BDMall.Resources.Message.DeleteFailed' + "\n\n" + response.Message);
                                }
                            }, function () { });
                        });
                    }
                }
            }
        });

        var customPrcRngLstTableInit = function () {
            var objDataTable = new Object();

            objDataTable.Init = function () {
                $("#tblCustomPrcRngLst").bootstrapTable({
                    method: 'post',                      //请求方式（*）
                    queryParams: objDataTable.queryParams,//传递参数（*）
                    toolbar: '#divToolBar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: true,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    smartDisplay: false,
                    showRefresh: true,                  //是否显示刷新按钮
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 750,                        //行高，如果没有设置height属性，表格自动根据记录条数決定表格高度
                    uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    pagination: true,                   //是否显示分页（*）
                    ajaxOptions: {
                        beforeSend: function (request) {
                            var access_token = $.cookie("access_token");
                            request.setRequestHeader("Authorization", "Bearer " + access_token);
                        }
                    },
                    onCheck: function (row) {
                        vm.setToolbarBtnState();
                    },
                    onUncheck: function (row) {
                        vm.setToolbarBtnState();
                    },
                    onCheckAll: function (rows) {
                        vm.setToolbarBtnState();
                    },
                    onUncheckAll: function (rows) {
                        vm.setToolbarBtnState();
                    },
                    columns: [{
                        checkbox: true,
                        valign: 'middle'
                    }, {
                        field: 'Id',
                        title: 'Id',
                        visible: false
                    }, {
                        field: 'RangeDesc',
                        title: '@BDMall.Resources.Label.PriceRange',
                        align: 'left',
                        valign: 'middle',
                        events: operateEvents,
                        formatter: tbViewFormatter
                    }, {
                        field: 'Range',
                        valign: 'middle',
                        title: '@BDMall.Resources.Label.PriceRange'
                    }, {
                        field: 'Currency',
                        valign: 'middle',
                        title: '@BDMall.Resources.Label.Currency'
                    }, {
                        field: 'CatName',
                        valign: 'middle',
                        title: '@BDMall.Resources.Label.CatalogName'
                    }],
                    formatLoadingMessage: function () {
                        return '';
                    }
                });
            };

            objDataTable.queryParams = function (params) {
                var page = 1;
                if (params.offset > 0) {
                    page = parseInt(params.offset / params.limit) + 1;
                }
                var SortedBy = "Id";
                var Sorted = "asc";
                return {
                    Condition: vm.condition, Page: page, PageSize: params.limit, sortName: SortedBy, sortOrder: Sorted
                };
            }
            return objDataTable;
        }

        function tbViewFormatter(value, row, index) {
            return '<a class="Readonly btn btn-link">' + value + '</a>';
        }

        $(document).ajaxStart(function () {
            showLoading();
        });
        $(document).ajaxStop(function () {
            hideLoading();
        });

        $(document).ready(function () {
            var objDataTable = customPrcRngLstTableInit();
            objDataTable.Init();

            InitBootstrapSelect("cboProdCat", "/adminapi/ProdCatalog/GetFirstLvCatalogCboSrc", 1, false, true, null, function () { });
            InitBootstrapSelect("cboCurrency", "/adminapi/CustomPriceRng/GetCurrencyComboSrc", 1, false, true, null, function () { });

            //鍵盤按下回車後進行搜尋操作
            $("#txtMinValue").keyup(function (e) {
                if (e.keyCode == 13) {
                    vm.searchCustomPrcRngLst();
                }
            });
            $("#txtMaxValue").keyup(function (e) {
                if (e.keyCode == 13) {
                    vm.searchCustomPrcRngLst();
                }
            });
        });

        window.operateEvents = {
            'click .Readonly': function (e, value, row, index) {
                var objDatas = $("#tblCustomPrcRngLst").bootstrapTable("getData");
                var strId = objDatas[index].Id;
                var rangeDesc = objDatas[index].RangeDesc;
                var strTabId = "CustomPrcRngModify_" + strId;
                var tabId = self.frameElement.parentElement.id;
                miniTab.openNewTabByIframe({
                    href:"/Product/CustomPrcRngEdit/" + strId + "/" + mEditR,
                    title:  '@BDMall.Resources.Action.View' + "-" + rangeDesc,
                    callback: vm.searchCustomPrcRngLst
                });
            }
        };
    </script>
}