
@{
    ViewBag.Title = "MPGS1";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid" id="app">
    <form class="form-horizontal" id="appform">
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.IsDebug</label>
            <div class="col-sm-10">
                @*<input type="text" class="form-control"  v-model="model.Debug" required placeholder="@WS.Resources.Label.IsDebug">*@
                <input type="checkbox" v-model="model.IsDebug" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.UseProxy</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.UseProxy" required placeholder="@BDMall.Resources.Label.UseProxy">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.ProxyHost</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.ProxyHost" required placeholder="@BDMall.Resources.Label.ProxyHost">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.ProxyUser</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.ProxyUser" required placeholder="@BDMall.Resources.Label.ProxyUser">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.ProxyPassword</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.ProxyPassword" required placeholder="@BDMall.Resources.Label.ProxyPassword">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.ProxyDomain</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.ProxyDomain" required placeholder="@BDMall.Resources.Label.ProxyDomain">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.UseSSL</label>
            <div class="col-sm-10">
                @*<input type="text" class="form-control" v-model="model.UseSSL" required placeholder="@WS.Resources.Label.UseSSL">*@
                <input type="checkbox" v-model="model.UseSSL" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.IgnoreSslErrors</label>
            <div class="col-sm-10">
                <input type="checkbox" v-model="model.IgnoreSslErrors" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.IsPassOnLocal</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.IsPassOnLocal" required placeholder="@BDMall.Resources.Label.IsPassOnLocal">
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label">@BDMall.Resources.Label.GatewayHost</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="model.GatewayHost" required placeholder="@BDMall.Resources.Label.GatewayHost">
            </div>
        </div>


        <div class="form-group">
            <label for="merchantName" class="col-sm-2 control-label">@BDMall.Resources.Label.MerchantName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="merchantName" name="merchantName" v-model="model.MerchantName" required placeholder="@BDMall.Resources.Label.MerchantName">
            </div>
        </div>
        <div class="form-group">
            <label for="merchantId" class="col-sm-2 control-label">@BDMall.Resources.Label.MerchantId</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="merchantId" name="merchantId" v-model="model.MerchantId" required placeholder="@BDMall.Resources.Label.MerchantId">
            </div>
        </div>
        <div class="form-group">
            <label for="account" class="col-sm-2 control-label">@BDMall.Resources.Label.Account</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="account" name="account" required v-model="model.Username" placeholder="@BDMall.Resources.Label.Account">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">@BDMall.Resources.Label.Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="password" name="password" required v-model="model.Password" placeholder="@BDMall.Resources.Label.Password">
            </div>
        </div>
        <div class="form-group">
            <label for="version" class="col-sm-2 control-label">@BDMall.Resources.Label.Version</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="version" name="version" required v-model="model.Version" placeholder="@BDMall.Resources.Label.Version">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" v-on:click="save">@BDMall.Resources.Action.Save</button>
                <button type="reset" class="btn btn-warn" v-on:click="reset">@BDMall.Resources.Action.Reset</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript">

        $.validator.setDefaults({
            debug: true,
            submitHandler: function (form) {
            }
        });




        var app = new Vue({
            el: "#app",
            data: {
                model: {
                    Debug: false,
                    UseProxy: false,
                    ProxyHost:"",
                    ProxyUser:"",
                    ProxyPassword:"",
                    ProxyDomain: "",
                    UseSSL: true,
                    IgnoreSslErrors: false,
                    IsPassOnLocal: true,
                    GatewayHost:"ap-gateway.mastercard.com",
                    MerchantName:"",
                    Version: "",
                    MerchantId:"" ,
                    Username:"",
                    Password:""
                },
                validater: {}
            },
            methods: {
                initValidater: function () {
                    this.validater = $("#appform").validate({
                        debug: true,
                        rules: {
                            merchantName: {
                                required: true
                            },
                            merchantId: {
                                required: true
                            },
                            account: {
                                required: true
                            },
                            password: {
                                required: true
                            },
                            version: {
                                required: true
                            }

                        },
                        submitHandler: function (form) {
                            //alert("提交事件2!");
                        }
                    });
                },
                save: function () {
                    if (this.validater.form()) {
                        WS.AjaxP("post", "/adminapi/paymentgateway/SaveMasterConfig", this.model, function (result, status) {
                            if (result.Succeeded) {
                                showInfo( "@BDMall.Resources.Message.SaveSuccess");
                            }
                        }, function () {
                        })
                    }
                },
                reset: function () {
                    this.validater.resetForm();
                    this.load();
                },
                load: function () {
                    WS.AjaxP("get", "/adminapi/paymentgateway/GetConfig", { type: "MPGS1" }, function (result, status) {
                        if (result.Succeeded) {
                            app.model = result.ReturnValue;
                        }
                    }, function () {
                    })

                }
            },
            mounted: function () {
                this.initValidater();
            }

        });
        app.load();



    </script>

}

